{% extends 'webapp/base.html' %}

<!doctype html>
<html lang="en">
    <head>
    </head>

    <body>
        {% block content %}
            <div class="container">
                <main>
                    <div id="container-404">
                        <div class="content-404">
                            <h2>404</h2>
                            <h4> Opps! Page not found</h4>
                            <p>The page you were looking for doesn't exist. You may mistyped the address or the page may have moved.</p>
                        </div>
                    </div>
                </main>

            </div>
        {% endblock %}
    </body>
</html>