{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
        
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/preloader.css' %}"> -->

        <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}">
    </head>

    <body>
        <!-- sidebar -->
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{% static 'webapp/images/logo.png' %}">
                    <h2>Statistic<span class="danger">Test</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="{% url 'Testline' %}">
                    <span class="material-icons-sharp">assessment</span>
                    <h3>Data</h3>
                </a>

                {% if request.user.is_anonymous == True %}
                        <a href="{% url 'register' %}">
                            <span class="material-icons-sharp">how_to_reg</span>
                            <h3>Register</h3>
                        </a>

                        <a href="{% url 'login_user' %}">
                            <span class="material-icons-sharp">account_circle</span>
                            <h3>Login</h3>
                        </a>
                {% else %}
                    <a href="{% url 'favorites' %}">
                        <span class="material-icons-sharp">how_to_reg</span>
                        <h3>Favorite tests</h3>
                    </a>
                    
                    <a href="{% url 'logout' %}">
                        <span class="material-icons-sharp">account_circle</span>
                        <h3>Logout</h3>
                    </a>
                {% endif %}
            </div>
        </aside>

        <!-- dark/light -->
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                <span class="material-icons-sharp active">light_mode</span> 
                    <span class="material-icons-sharp">dark_mode</span> 
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey,<b>{{ request.user }}</b></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- pop-up messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        {% block content %}
        {% endblock %}
    </body>
    
    <script src="{% static 'webapp/jvs/index.js' %}"></script> <!-- black/white -->
    <script src="{% static 'webapp/jvs/loadpage.js' %}"></script> <!-- page loaded in ...-->
</html>