<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>NOTEPAD DETAILS</title>
</head>
<body>
    <br>
    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Case Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Execution Time</th>
                </tr>
            </thead>
            <tbody>
                {% for columns in dataSelectedTable %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ columns.case_name }}</td>
                        <td>{{ columns.status }}</td>
                        <td>{{ columns.execution_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
