{% extends 'webapp/base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
    </head>
    <body>
        {% block content %}
        <main>
            <div class="date">
                <p>{{ request.user }}'s favorite ids</p>
            </div>
                <br>
                {% for favs in favs_id %}
                    <li class="list-group-item text-dark"> {{ forloop.counter }}.
                        <a class="text-dark" href="{% url 'Testrun' favs.id %}">{{ favs.id }}</a>
                        <a class="text-dark" href="{% url 'delete_favorites_TestLine' favs.id %}">Delete</a>
                    </li>
                {% endfor %}
        </main>
        {% endblock %}
    </body>
</html>