{% extends 'webapp/base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
    </head>
    <body>
        {% block content %}
            {{request.user}}'s favorite ids
            <br>
            {% for id in favs_id %}
                <li class="list-group-item"> {{forloop.counter}}. <a href="{% url 'id_notepad' id.id %}">{{id.id}}</a>
                    <a href="{% url 'deleteId' id.id %}">Delete</a>
                </li>
            {% endfor %}
        {% endblock %}
    </body>
</html>