{% extends 'webapp/base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NOTEPAD CONFIG IDS</title>
    </head>
    <body>
        {% block content %}
        <div class="container w-50">
            <ul class="list-group">
                <li class="list-group-item active text-center font-weight-bold">Config ids</li>
                {% for columns in dataTestLine %}
                    <!-- href="{{columns.id}} (merge) {% url 'id_notepad' %} (nu merge) -->
                    <li class="list-group-item">{{ forloop.counter }}. <a href="{{columns.id}}">{{columns.id}}</a></li>
                    <!-- sa fac un Add to favorites href -->
                {% endfor %}
            </ul>
        </div>
        {% endblock %}
    </body>
</html>