{% extends 'webapp/base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NOTEPAD IDS</title>
    </head>
    <body>
        {% block content %}
            <div class="container w-50">
                <ul class="list-group">
                    <li class="list-group-item active text-center font-weight-bold">Notepad ids</li>
                    {% for columns in dataTestRun %}
                        <!-- /webapp/config-id/{{notepad_config_id}}/{{columns.id}} (mereg) "{% url 'notepadDetails' columns.id %}" (nu merge) -->
                        <li class="list-group-item">{{ forloop.counter }}. <a href="/webapp/config-id/{{notepad_config_id}}/{{columns.id}}">{{columns.id}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
    </body>
</html>