{% extends 'webapp/base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TESTLINE</title>
    </head>
    <body>
        {% block content %}
        <div class="container w-50">
            <ul class="list-group">
                <li class="list-group-item active text-center font-weight-bold">Testline ids</li>
                {% for columns in dataTestLine %}
                    <li class="list-group-item"> {{ forloop.counter }}. <a href="{% url 'Testrun' columns.id %}">{{ columns.id }}</a>
                        <br>
                        {% if userName != "AnonymousUser" %}
                            <a href="{% url 'add_favorites_TestLine' columns.id %}">Add to favorites</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endblock %}
    </body>
</html>