{% extends 'webapp/base.html' %}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% block content %}
            <div class="container-fluid">
                <br>
                <br>
                <br>
                <br>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Case Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Execution Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for columns in dataTestCase %}
                            <tr>
                                <th class="text-primary" scope="row">{{ forloop.counter }}</th>
                                <td class="text-primary">{{ columns.case_name }}</td>
                                {% if columns.status == "FAIL" %}
                                    <td><font color="red">{{ columns.status }}</td></font>
                                {% else %}
                                    <td><font color="green">{{ columns.status }}</td></font>
                                {% endif %}
                                
                                <td class="text-info">{{ columns.execution_time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    </body>
</html>
