{% extends 'webapp/base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NOTEPAD CONFIG IDS</title>
    </head>
    <body>
        {% block content %}
            {{ userInfo.username }}'s profile page
            <br>
            <span><a href="{% url 'logout' %}">Logout</a></span>
            <br>
            <a class="navbar-brand" href="{% url 'notepad_config_id' %}">Notepad Details</a>
            <br>
            <a class="navbar-brand" href="{% url 'favorites' %}">Favorites</a>
        {% endblock %}
    </body>
</html>